#myCanvas,
#buttonCanvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ccc;
}

#myCanvas {
    z-index: 1; /* Coloca el canvas myCanvas detrás del buttonCanvas */
}

#buttonCanvas {
    z-index: 2; /* Coloca el canvas buttonCanvas encima de myCanvas */
}
